n8n/chat_workflow.json
{
    "name": "Chat Agent Logic Test",
    "nodes": [
        {
            "parameters": {
                "path": "chat-agent",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "1",
            "name": "Chat Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4-turbo",
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are a reception assistant.\n\nTOOLS:\n- get_slots: Check available times.\n- book_appointment: Book a slot. REQUIRE: name, phone, time.\n- cancel_appointment: Cancel by phone number.\n\nCONTEXT:\nUser ID: {{$node[\"Chat Webhook\"].json.userId || 'Guest'}}\nCurrent Time: {{new Date().toISOString()}}\n\nINSTRUCTIONS:\n1. If querying slots, use get_slots.\n2. If booking, ask for missing details if needed.\n3. Reply as if you are chatting."
                        },
                        {
                            "role": "user",
                            "content": "User said: {{$node[\"Chat Webhook\"].json.message}}"
                        }
                    ]
                },
                "tools": {
                    "tool": [
                        {
                            "name": "get_available_slots",
                            "description": "Fetch available appointment slots for the next 3 days.",
                            "properties": []
                        },
                        {
                            "name": "book_appointment",
                            "description": "Book a new appointment.",
                            "properties": [
                                {
                                    "name": "name",
                                    "type": "string",
                                    "description": "Name of the customer"
                                },
                                {
                                    "name": "phone",
                                    "type": "string",
                                    "description": "Phone number"
                                },
                                {
                                    "name": "datetime",
                                    "type": "string",
                                    "description": "ISO Datetime string"
                                }
                            ]
                        },
                        {
                            "name": "cancel_appointment",
                            "description": "Cancel an existing appointment.",
                            "properties": [
                                {
                                    "name": "phone",
                                    "type": "string",
                                    "description": "Phone number of customer"
                                }
                            ]
                        }
                    ]
                }
            },
            "id": "2",
            "name": "AI Logic",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                500,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI Account"
                }
            }
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{$json.toolCalls ? $json.toolCalls[0].function.name : 'response'}}",
                "rules": {
                    "rules": [
                        {
                            "value2": "get_available_slots"
                        },
                        {
                            "value2": "book_appointment",
                            "output": 1
                        },
                        {
                            "value2": "cancel_appointment",
                            "output": 2
                        },
                        {
                            "value2": "response",
                            "output": 3
                        }
                    ]
                }
            },
            "id": "3",
            "name": "Switch Logic",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                750,
                300
            ]
        },
        {
            "parameters": {
                "url": "http://localhost:4000/api/slots",
                "options": {}
            },
            "id": "4",
            "name": "API: Get Slots",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1000,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:4000/api/appointments/book",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "name",
                            "value": "={{JSON.parse($node[\"AI Logic\"].json.toolCalls[0].function.arguments).name}}"
                        },
                        {
                            "name": "phone",
                            "value": "={{JSON.parse($node[\"AI Logic\"].json.toolCalls[0].function.arguments).phone}}"
                        },
                        {
                            "name": "datetime",
                            "value": "={{JSON.parse($node[\"AI Logic\"].json.toolCalls[0].function.arguments).datetime}}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "5",
            "name": "API: Book",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1000,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:4000/api/appointments/cancel",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "phone",
                            "value": "={{JSON.parse($node[\"AI Logic\"].json.toolCalls[0].function.arguments).phone}}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "6",
            "name": "API: Cancel",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1000,
                500
            ]
        },
        {
            "parameters": {
                "model": "gpt-4-turbo",
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are completing the user request.\nAction Result: {{$json}}\n\nSummarize the result for the user in a friendly way."
                        }
                    ]
                }
            },
            "id": "7",
            "name": "Final Reply",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                1300,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\n  \"reply\": \"{{$json.content}}\"\n}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "8",
            "name": "Respond to Chat",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                1600,
                300
            ],
            "webhookId": "1"
        }
    ],
    "connections": {
        "Chat Webhook": {
            "main": [
                [
                    {
                        "node": "AI Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Logic": {
            "main": [
                [
                    {
                        "node": "Switch Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Logic": {
            "main": [
                [
                    {
                        "node": "API: Get Slots",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "API: Book",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "API: Cancel",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond to Chat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "API: Get Slots": {
            "main": [
                [
                    {
                        "node": "Final Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "API: Book": {
            "main": [
                [
                    {
                        "node": "Final Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "API: Cancel": {
            "main": [
                [
                    {
                        "node": "Final Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Final Reply": {
            "main": [
                [
                    {
                        "node": "Respond to Chat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}